body {
	font-family: "Courier New", Courier, monospace;
}

#wrapper {
	width: 100%;
}

#searchbox {
	min-width: 300px;
	max-width: 300px;
	width: 300px;
	display: inline-table;
	vertical-align: top;
}

#searchbox > input {
	width: calc(100% - 4px);
}

#searchbox > select {
	font-style: "Arial Black", Gadget, sans-serif;
	border: 1px solid black;
	margin: 10px 0px;
	vertical-align: top;
}

#searchbox #courses, #selected_courses, #schedules {
	width: 280px;
	margin-right: 2px;
}

#make_schedules_btn {
	display: list-item;
	margin-bottom: 10px;
}

#searchbox, #schedulebox {
	display: inline-block;
}

#searchbox #sections {
	width: 75px;
	margin-left: 2px;
}

#searchbox > select:-internal-list-box {
	-webkit-appearance: listbox;
	-webkit-user-select: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

#searchbox > select > option:hover {
	background-color: pink;
	cursor: default;
}

#searchbox > p {
	margin: 0px 0px;
}


calendar > table {
	display: inline-table;
	float: right;
	vercal-align: top;
	width: calc(100% - 600px);
	height: 500px;
	background-color: #A0B8CC;
}

calendar tr {
	display: table-row;
	width: 100%;
}

calendar td {
	display: table-cell;
	position: relative;
	width: 16%;
	/border: 1px solid black;
	padding: 0px;
	background-color: #B3CDE4;
}
